.swiper {
    height: calc(100vh - 200px) !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;


}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeContainer {
    height: calc(100vh - 200px);
}

.LeftRow {
    gap: 1.5rem;
}

.TitleLeftRow {
    font-weight: 900;
    font-size: 5rem;
}

.RateContainer {
    display: flex;
    gap: 0.5rem;

}

.price {
    margin-top: -1.2rem;
}

.Star {
    color: var(--green);
    display: flex;
    gap: 0.2rem;
}

.View {
    color: #fff;
}

.SubTitle {
    color: #585c64;
}

.swiper-pagination-bullet-active {
    transform: scale(1.35);
}

.swiper-pagination-bullet {
    background-color: #fff;
    height: 0.7rem;
    width: 0.7rem;
}

.swiper-pagination {
    display: flex;
    flex-direction: column;
}