.Container {
    max-width: 1320px;
    height: 90px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.FooterContainer {
    z-index: 1000;
}

.SocialIcons {
    display: flex;
    gap: 1.5rem;
    color: #fff;
}

.Watch {
    display: flex;
    gap: 0.4rem;
    color: #fff;
}

.Number {
    display: flex;
    align-items: center;
    color: #fff;
    z-index: 1;
}

.shoes-video {
    text-decoration: none;
    color: #fff;
}

.Icons {
    font-size: 1.4rem;
    color: #fff;
}